<app-nav></app-nav>
<mat-card>
    <mat-card-title>
        Cloud Management Platform
    </mat-card-title>
    <mat-card-header>
        Account Recovery
    </mat-card-header>
    <form class="myform"[formGroup]="recoveryForm" (ngSubmit)="done()">
        <mat-form-field appearance="outline" style="color: #3C40AF; border-block-end-color: #3C40AF;">
            <mat-label>Email Or Username</mat-label>
            <input  matInput placeholder="Email Or Username" formControlName="username" required>
          </mat-form-field>
          <button class="mysubmit" mat-raised-button type="submit" >Submit</button>
    </form>
</mat-card>