<app-nav></app-nav>
  <mat-card >
      <mat-card-title>Sign in</mat-card-title>
    
      <mat-card-header>
        Continue to Cloud Management Platform
      </mat-card-header>
  
    <form class="myform"[formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline" style="color: #3C40AF; border-block-end-color: #3C40AF;">
          <mat-label>Email Or Username</mat-label>
          <input  matInput placeholder="Email Or Username" formControlName="username" required>
        </mat-form-field>
          <mat-form-field appearance="outline" style="color: #3C40AF; border-block-end-color: #3C40AF;">
            <mat-label>Password</mat-label>
            <input  matInput type="password" placeholder="Password" formControlName=password required>
          </mat-form-field>
          <button  class="myforgpass"mat-button (click)="forgotpass()" >forgot password?</button>
          <br>
          <button class="mysignup" mat-button (click)="signup()" >Sign Up</button>
          <button class="mylogin" mat-raised-button type="submit" >Next</button>
              </form>
  </mat-card>
  
