mat-card{
    width: 350px;
    height: 400px;
    margin: auto;
    vertical-align: center;
    margin-top: 50px;    
}
mat-card-title{
    margin: auto;
    text-align: center;
}
mat-card-header{
    padding-top: 15px;
margin: auto;
}
mat-form-field{
    width: 350px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: blue;
  }


.form-row{
    display: flex;
}

.form-row input{
    flex: 1;
}
buttoncss{
    margin-left: 50px;
    margin-top: 10px;
}
.myform{
    padding-top: 25px;
}
.myforgpass{
    background:white;
    color :#3C40AF;
    margin-left:100px;
    margin-top: 20px;
    font-size: 15px;
}
.mysignup{
    background:white;
    width: 100px;
    color :#3C40AF;
    margin-left: 25px;
    margin-top: 20px;
}
.mylogin{
    background:#3C40AF;
    width: 100px; 
    color :white;
    margin-left: 100px;
    margin-top: 20px;
}