<app-sidenav></app-sidenav>
<mat-card>
  <mat-card-title>Cloud Management Platform</mat-card-title>
  
  <form [formGroup]="changePassForm" (ngSubmit)="signup()">
    <br />
    <mat-form-field style="margin-left:20px;">
      <mat-label>Current Password</mat-label>
      <input  matInput placeholder="Enter First Name" formControlName="currentpass" required>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>New Password</mat-label>
        <input  matInput  placeholder="Enter New Password" formControlName="newpass" required>
      </mat-form-field>
      <br>
      <mat-form-field style="width:560px;margin-left:20px;">
        <mat-label>Confirm Password</mat-label>
        <input matInput  placeholder="Confirm Password" formControlName="cnfpass" required>
      </mat-form-field>
      <button class="signup" mat-button (click)="submit()">Submit</button>  
      
      </form>
</mat-card>
