
<app-nav></app-nav>
<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <br />
  <mat-card-header>Cloud Management Platform</mat-card-header>
  <form [formGroup]="signUpForm" (ngSubmit)="signup()">
    <br />
    <mat-form-field style="margin-left:20px;">
      <mat-label>First Name</mat-label>
      <input  matInput placeholder="Enter First Name" formControlName="firstname" required>
    </mat-form-field>
    
      <mat-form-field style="margin-left:60px;">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Enter Last Name" formControlName="lastname" required>
      </mat-form-field>
      <br>
      <mat-form-field style="width:560px;margin-left:20px;">
        <mat-label>Email address</mat-label>
        <input matInput type="email" placeholder="Enter Email address" formControlName="email" required>
      </mat-form-field>
      <br>
        <mat-form-field style="margin-left:20px;">
          <mat-label>Password</mat-label>
          <input  matInput type="password"  placeholder="Enter Password" formControlName="password" required>
        </mat-form-field>
        
        <mat-form-field style="margin-left:60px;">
          <mat-label>Confirm Password</mat-label>
          <input matInput  type="password"  placeholder="Confirm password" formControlName="cnfpassword" required>
        </mat-form-field>
      <br>
      <br>
      <button class="signup" mat-button (click)="signup()">Sign in</button>  
      <button class="login" mat-raised-button (click)="signup()">Next</button>
      </form>
</mat-card>