mat-card{
    width: 600px;
    height: 400px;
    margin: auto;
    vertical-align: center;
    margin-top: 50px;    
}
mat-card-title{
    margin: auto;
    text-align: center;
}
mat-card-header{
    
    text-align: center;
    margin-left: 160px;
}
mat-form-field{
    width: 250px;
    color: #3C40AF;
    border-block-end-color:#3C40AF;
}
.signup{
    background:white;
    width: 100px; 
    color :#3C40AF;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 15px;
}
.login{
    background:white;
    width: 100px; 
    color :#3C40AF;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 15px;
}
