<div >
    <mat-toolbar style="background-color:#3C40AF;color:white;" class="example-toolbar">
      <button mat-icon-button  (click)="toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Cloud Management Platform</h1>
      <div  style="margin-top:10px;margin-left:auto;">
          <button mat-icon-button matTooltip="Send feedback"
          aria-label="Button that displays a tooltip when focused or hovered over" >
              <mat-icon>feedback</mat-icon>
          </button>
          <button mat-icon-button matTooltip="help"
          aria-label="Button that displays a tooltip when focused or hovered over" >
              <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button matTooltip="notification"
          aria-label="Button that displays a tooltip when focused or hovered over">
              <mat-icon>notifications_active</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings and utilities"
          aria-label="Button that displays a tooltip when focused or hovered over">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
              <button mat-menu-item>Preferences</button>
              <button mat-menu-item>Keyboard shortcuts</button>
              <button mat-menu-item>Downloads</button>
              <button mat-menu-item>Cloud Patrners</button>
              <button mat-menu-item>Terms of sevice</button>
              <button mat-menu-item>Privacy</button>
              <button mat-menu-item>Try an intercative tutorial</button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="menuform" matTooltip="CMP account"
          aria-label="Button that displays a tooltip when focused or hovered over">
                <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menuform="matMenu" >
            <button mat-menu-item> User Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
            <button mat-menu-item (click)="changepass()">Change Password</button>
        </mat-menu>
    
      </div>
    </mat-toolbar>
  </div>
  <div >
    <mat-sidenav-container class="example" *ngIf="show" >
        <mat-sidenav mode="side" opened >
            <mat-action-list>
                <button mat-list-item  (click)="home()" ><mat-icon>home</mat-icon> Home </button>
                <button mat-list-item  (click)="home()" ><mat-icon>memory</mat-icon> MemoryStore </button>
               
                <button mat-list-item  (click)="home()" > <mat-icon>add_shopping_cart</mat-icon> Marketplace </button>
                <button mat-list-item (click)="admin"><mat-icon>account_circle</mat-icon> IAM & Admin</button>
                <button mat-list-item  (click)="home()" > <mat-icon> attach_money</mat-icon> Billing </button>
                
                <button mat-list-item  (click)="home()" ><mat-icon>security</mat-icon> Security </button>
                <button mat-list-item  (click)="home()" > Support </button>
                
            </mat-action-list>
              <p style="margin-left:15px;">Networking</p>
              <button mat-button [matMenuTriggerFor]="network">VPC Networking</button>
              <mat-menu #network="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="VPC">VPC network</button>
                <mat-menu #VPC="matMenu">
                    <button mat-menu-item >VPC networks</button>
                    <button mat-menu-item >External IP address</button>
                    <button mat-menu-item >Firewall rules</button>
                    <button mat-menu-item>Routes</button>
                    <button mat-menu-item>VPC network peering</button>
                    <button mat-menu-item>Shared VPC</button>
                  </mat-menu>
              </mat-menu>
              <p style="margin-left:15px;">COMPUTE </p>
              <button mat-button [matMenuTriggerFor]="compute">Compute Engine</button>
              
                <mat-menu #compute="matMenu">
                    <button mat-menu-item >dashboard</button>
                    <button mat-menu-item >services</button>
                    <button mat-menu-item >versions</button>
                    <button mat-menu-item>instances</button>
                    <button mat-menu-item>Firewall rules</button>
                    <button mat-menu-item>settings</button>
                  
              </mat-menu>
              <p style="margin-left:15px;">COMPUTE </p>
              <button mat-button [matMenuTriggerFor]="compute">Compute Engine</button>
              
                <mat-menu #compute="matMenu">
                    <button mat-menu-item >dashboard</button>
                    <button mat-menu-item >services</button>
                    <button mat-menu-item >versions</button>
                    <button mat-menu-item>instances</button>
                    <button mat-menu-item>Firewall rules</button>
                    <button mat-menu-item>settings</button>
                  
              </mat-menu>
            
        </mat-sidenav>
       
      </mat-sidenav-container>
      
      
  </div>
  
  