@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

.custom-dialog-container .mat-dialog-container {
 width: 550px;
 height: 200px;
 margin-bottom: 300px;
 margin-left: -200px;
 
}


